.comment-text{
  background-color: #f2f2f2;
  width: 100%;
  padding: 15px;
}
.author-span{
  color: #0b5ed7;
  padding-right: 10px;
}
.coment-like{
  width: 100%;
}
.like-span, .like-span1, .like-span2, .like-span3, .like-span4, .like-span5,
.like-span6, .like-span7, .like-span8, .like-span9, .like-span10,
.like-span11, .like-span12, .like-span13, .like-span14, .like-span15 {
  cursor: pointer;
}
.like-line{
  display: flex;
  justify-content: space-between;
  padding:0 10px;
}
.like-counter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: auto;
  border-radius: 15px;
  padding: 0 5px;
}
.smile-box{
  position: relative;
  width: 85%;
}
.smile-img{
  position: absolute;
  top: 24%;
  right: 1%;
}

.like-span::after{
  content: '1 min';
  padding-left: 20px;
}

.like-span1::after{
  content: '1 h';
  padding-left: 20px;
}
.like-span2::after{
  content: '3 w';
  padding-left: 20px;
}
.like-span3::after{
  content: '1 w';
  padding-left: 20px;
}
.like-span4::after{
  content: '7 h';
  padding-left: 20px;
}
.like-span5::after{
  content: '5 d';
  padding-left: 20px;
}
.like-span6::after{
  content: '1 h';
  padding-left: 20px;
}
.like-span7::after{
  content: '3 w';
  padding-left: 20px;
}
.like-span8::after{
  content: '1 w';
  padding-left: 20px;
}
.like-span9::after{
  content: '7 h';
  padding-left: 20px;
}
.like-span10::after{
  content: '5 d';
  padding-left: 20px;
}
.like-span11::after{
  content: '1 h';
  padding-left: 20px;
}
.like-span12::after{
  content: '3 w';
  padding-left: 20px;
}
.like-span13::after{
  content: '1 w';
  padding-left: 20px;
}
.like-span14::after{
  content: '7 h';
  padding-left: 20px;
}
.like-span15::after{
  content: '5 d';
  padding-left: 20px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide:first-child {
  display: block;
}

.slide img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
  cursor: pointer;
}

/* #block2, #block3{
  display: none;
} */
.grow-btn{
  padding-right: 50px;
  padding-left: 50px;
}
.grow-btn1{
  padding-right: 85px;
  padding-left: 85px;
}
.posr {
  position: relative;
}

#notification {
  position: fixed;
  top: 0;
  right: 0;
  
  width: 400px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 9999;
  display: none;
}

#notification img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}